# macOS
.DS_Store

# SwiftPM
.build/
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Package.resolved

# Tuist
/Derived
/Samples/Derived
/Samples/*.xcodeproj
/Samples/*.xcworkspace
/*.xcodeproj
